run = "sh run.sh"
entrypoint = "main.py"
modules = ["python-3.10:default"]

[nix]
channel = "stable-24_05"
packages = ["ffmpeg-full", "gitFull", "glibcLocales", "libxcrypt", "pkg-config", "playwright-driver", "postgresql", "xcodebuild", "xsimd", "zlib"]
